{% extends 'info/base.html' %}
{% block title %} Estadistica {% endblock %}
    
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estadistica.css') }}"/>
{% endblock %}

 
{% block content %} 
  <div>
    <h1>Estadisticas de adopcion</h1>
    <p>En este apartado se encuentra las estadisticas sobre los avisos de adopcion que a recibido la pagina.</p>
  </div>
  <figure class="highcharts-figure">
    <div id="avisosPorDia"></div>
  </figure>
  <div class="grafico">
    <h3>Grafico proporcion perro/gato</h3>
    <p>Este grafico muestra las proporciones de perros y gatos de la cantidad total de avisos de adopcion</p><br>
  </div>
  <figure class="highcharts-figure">
    <div id="avisosPorTipo"></div>
  </figure>
  <div class="grafico">
    <h3>Grafico avisos por mes</h3>
    <p>Este grafico muestra la cantidad de avisos de adopcion de perros y gatos en los ultimos 5 meses</p><br>
  <figure class="highcharts-figure">
    <div id="avisosPorTipoMes"></div>
  </figure>
  </div>

{% endblock content %}
{% block javascript %} 
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{url_for('static', filename='js/stats.js')}}"></script>
{% endblock %}


