<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Formulario adopcion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario.css') }}">
  </head>
  <body>
    <div class="container">
      <div id="titulo_form"> 
        <h1>Aviso de adopcion</h1>
      </div>
      <div id="enviar-box" hidden> 
        <h2 id="enviar-msg">seguro</h2>
        <ul id="enviar-list"></ul>
      </div>
      {% if error %}
        <div class="error-message">
          {{ error }}
        </div>
      {% endif %}
      <form class="Formulario" name="formAviso" id="formAviso" method="post" enctype="multipart/form-data">
        <fieldset>
          <legend>Lugar:</legend>
          <div class="div-input">
            <label for="select_region">Region: </label>
            <select name="select_region" id="select_region" required>
              <option value="" disabled selected>Seleccione una region</option>
            </select>
          </div>
          <div class="div-input">
            <label for="select_comuna">Comuna: </label>
            <select name="select_comuna" id="select_comuna" required>
              <option value="" disabled selected>Seleccione una comuna</option>
            </select>
          </div>
          <div class="div-input">
            <label for="sector">Sector:</label>
            <input name="sector" id="sector" type="text" maxlength="100">
          </div>
          </fieldset>
        <fieldset>
          <legend>Informacion de contacto:</legend>
          <div class="div-input">
            <label for="nombre">Nombre: </label>
            <input name="nombre" id="nombre" type="text" minlength="3" maxlength="200" required>
          </div>
          <div class="div-input">
            <label for="email">Email: </label>
            <input name="email" id="email" type="email" maxlength="100" required>
          </div>
          <div class="div-input">
            <label for="tel">Numero celular: </label>
            <input name="tel" id="tel" type="tel" placeholder="+56912345678">
          </div>
          <div class="div-input">
            <label for="contacto0">Contacto adicional: </label>
            <div id="contacto_dif">
              <div class="divC">
              <select name="contacto0" id="contacto0" class="select-contacto">
                <option selected value="">Seleccione medio</option>
              </select>
              <input type="text" id="textContacto0" name="textContacto0" minlength="4" maxlength="50" class="text-contacto" required style="display: none;">
              <button class="masC" id="buttonSelect0" type="button" style="display: none;">+</button>
              </div>
              <div class="divC">
              <select name="contacto1" id="contacto1"  class="select-contacto" style="display: none;">
                <option disabled selected value="">Seleccione medio</option>
              </select>
              <input type="text" id="textContacto1" name="textContact1" minlength="4" maxlength="50" class="text-contacto" required style="display: none;">
              <button class="masC" id="buttonSelect1" type="button" style="display: none;">+</button>
              </div>
              <div class="divC">
              <select name="contacto2" id="contacto2"  class="select-contacto" style="display: none;">
                <option disabled selected value="">Seleccione medio</option>
              </select>
              <input type="text" id="textContacto2" name="textContacto2" minlength="4" maxlength="50" class="text-contacto" required style="display: none;">
              <button class="masC" id="buttonSelect2" type="button" style="display: none;">+</button>
              </div>
              <div class="divC">
              <select name="contacto3" id="contacto3" class="select-contacto" style="display: none;">
                <option disabled selected value="">Seleccione medio</option>
              </select>
              <input type="text" id="textContacto3" name="textContacto3" minlength="4" maxlength="50" class="text-contacto" required style="display: none;">
              <button class="masC" id="buttonSelect3" type="button" style="display: none;">+</button>
              </div>
              <div class="divC">
              <select name="contacto4" id="contacto4" class="select-contacto" style="display: none;">
                <option disabled selected value="">Seleccione medio</option>
              </select>
              <input type="text" id="textContacto4" name="textContacto4" minlength="4" maxlength="50" class="text-contacto" required style="display: none;">
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Informacion mascota: </legend>
          <div class="div-input">
            <label for="tipo">Tipo de mascota: </label>
            <select name="tipo" id="tipo" required>
              <option disabled selected value="">Seleccione un tipo</option>
              <option value="perro">Perro</option>
              <option value="gato">Gato</option>
            </select>
          </div>
          <div class="div-input">
            <label for="cantidad">Cantidad: </label>
            <input name="cantidad" id="cantidad" type="number" min="1" required>
          </div>
          <div class="div-input">
            <label for="edad">Edad: </label>
            <div id="div-edad">
              <input name="edad" id="edad" type="number" min="1" required>
              <select name="unidad_edad" id="unidad_edad" required>
                <option value="" disabled selected>Seleccione</option>
                <option value='m'>Meses</option>
                <option value='a'>Años</option>
              </select>
            </div>
          </div>
          <div class="div-input">
            <label for="fecha_entrega">Fecha disponible para entega: </label>
            <input name="fecha_entrega" id="fecha_entrega" type="datetime-local" required>
          </div>
          <div class="div-input">
            <label for="descripcion">Descripcion de la mascota:</label><br>
            <textarea name="descripcion" id="descripcion" rows="10" cols="50" placeholder="Agregue una descripción de la mascota (opcional)"></textarea>
          </div>
          <div class="div-input">
            <label for="foto0">Imagenes de la mascota:</label><br>
            <div id="fotos">
              <div>
                <input name="foto0" id="foto0" type="file" accept="image/*" required>
              </div>
              <div>
                <input name="foto1" id="foto1" type="file" accept="image/*" style="display: none;">
              </div>
              <div>
                <input name="foto2" id="foto2" type="file" accept="image/*" style="display: none;">
              </div>
              <div>
                <input name="foto3" id="foto3" type="file" accept="image/*" style="display: none;">
              </div>
              <div>
                <input name="foto4" id="foto4" type="file" accept="image/*" style="display: none;">
              </div>
            </div>
          </div>
        </fieldset>
        <div class="btn-end">
          <a href="{{ url_for('index') }}">Volver al inicio</a>
          <button type="button" id="validar">
            Enviar aviso
          </button>
        </div>
      </form>
    </div>
    <script src="{{ url_for('static', filename='js/region_comuna.js') }}"></script>
    <script src="{{ url_for('static', filename='js/formValidador.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
  </body>
</html>